@font-face {
    font-family: "Poppins ";
    src: url(../fonts/Poppins-Bold.ttf) url(../fonts/Poppins-LightItalic.ttf)  url(../fonts/Poppins-Regular.ttf) url(../fonts/Poppins-Thin.ttf) url(../fonts/Poppins-BlackItalic.ttf)  ;
}



.container{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.8vh;
    height: 100vh;
    border: none;
    background-color: #0b0b0b;
    transform: translate(-50%, -50%);
    
}




.info{

    position: absolute;
    left: 210px;
    top: 250px;
    color: rgb(189, 189, 189);
    font-family:'Poppins', sans-serif;

}

.infocrimi{

    position: absolute;
    left: 610px;
    top: 250px;
    color: rgb(189, 189, 189);
    font-family:'Poppins', sans-serif;

}

.infofdo{

    position: absolute;
    left: 995px;
    top: 250px;
    color: rgb(189, 189, 189);
    font-family:'Poppins', sans-serif;

}

.infoimprenditore{

    position: absolute;
    left: 1370px;
    top: 250px;
    color: rgb(189, 189, 189);
    font-family:'Poppins', sans-serif;

}



.sg_topbar span{
    color: white;
    text-shadow: 3px 3px 3px rgba(224, 14, 14, 0.281);
    text-transform: uppercase;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    font-size: 5vh;
    margin-left: 32%;
    position: absolute;
}

.cittadino{

    color:rgb(231, 231, 231);
    position: absolute;
    top: 50%;
    left: 20%;
    width: 32vh;
    height: 65vh;
    font-family:'Poppins', sans-serif;
    text-align: center;
    border-radius: 2vh;
    background: #2f2f2f;
    transform: translate(-50%, -50%);

}

.criminale{

    color:rgb(231, 231, 231);
    position: absolute;
    top: 50%;
    left: 40%;
    width: 32vh;
    height: 65vh;
    font-family:'Poppins', sans-serif;
    text-align: center;
    border-radius: 2vh;
    background: #2f2f2f;
    transform: translate(-50%, -50%);

}

.fdo{

    color:rgb(231, 231, 231);
    position: absolute;
    top: 50%;
    left: 60%;
    width: 32vh;
    height: 65vh;
    font-family:'Poppins', sans-serif;
    text-align: center;
    border-radius: 2vh;
    background: #2f2f2f;
    transform: translate(-50%, -50%);

}

.imprenditore{

    color:rgb(231, 231, 231);
    position: absolute;
    top: 50%;
    left: 80%;
    width: 32vh;
    height: 65vh;
    font-family:'Poppins', sans-serif;
    text-align: center;
    border-radius: 2vh;
    background: #2f2f2f;
    transform: translate(-50%, -50%);

}

.oggcitt{

    position: absolute;
    color: azure;
    font-family:'Poppins', sans-serif;
    top: 375px;
    left: 300px;
}

.oggcrimi{

    position: absolute;
    color: azure;
    font-family:'Poppins', sans-serif;
    top: 375px;
    left: 690px;
}

.oggfdo{

    position: absolute;
    color: azure;
    font-family:'Poppins', sans-serif;
    top: 375px;
    left: 1070px;
}

.oggimprenditore{

    position: absolute;
    color: azure;
    font-family:'Poppins', sans-serif;
    top: 375px;
    left: 1465px;
}


.inv1{

    position: absolute;
    font-family:'Poppins', sans-serif;
    color: rgba(240, 255, 255, 0.559);
    top: 440px;
    left: 330px;
}

.inv2{

    position: absolute;
    font-family:'Poppins', sans-serif;
    color: rgba(240, 255, 255, 0.559);
    top: 440px;
    left: 710px;
}

.inv3{

    position: absolute;
    font-family:'Poppins', sans-serif;
    color: rgba(240, 255, 255, 0.559);
    top: 440px;
    left: 1090px;
}

.inv4{

    position: absolute;
    font-family:'Poppins', sans-serif;
    color: rgba(240, 255, 255, 0.559);
    top: 440px;
    left: 1490px;
}



.playcittadino{

    
    color:rgb(249, 246, 248);
    background-color: rgb(233, 11, 78);
    margin:50px;
    width: 150px;
    height: 50px;
    font-family:'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: absolute;
    top: 780px;
    left: 350px;
}

.playcrimi{

    
    color:rgb(231, 231, 231);
    background-color: rgb(233, 11, 78);
    margin:50px;
    width: 150px;
    height: 50px;
    font-family:'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: absolute;
    top: 780px;
    left: 733px;
}

.playfdo{

    
    color:rgb(231, 231, 231);
    background-color: rgb(233, 11, 78);
    margin:50px;
    width: 150px;
    height: 50px;
    font-family:'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: absolute;
    top: 780px;
    left: 1117px;
}

.playimprenditore{

    
    color:rgb(231, 231, 231);
    background-color: rgb(233, 11, 78);
    margin:50px;
    width: 150px;
    height: 50px;
    font-family:'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: absolute;
    top: 780px;
    left: 1500px;
}

.michael{

    position: absolute;
    top: 570px;
    left: 1330px;
    width: 300px;
    height: 320px;
}

.trevor{

    position: absolute;
    top: 570px;
    left: 585px;
    width: 225px;
    height: 320px;
}

.negro{

    position: absolute;
    top: 570px;
    left: 950px;
    width: 300px;
    height: 320px;
}

.tuopadre{

    position: absolute;
    top: 570px;
    left: 185px;
    width: 300px;
    height: 320px;
}
